---
import ServicesFeatures from "../ServicesFeatures.astro";
---

<section class="">
    <div class="gap-16 items-center py-12 px-8 lg:flex lg:flex-row-reverse lg:py-16 lg:px-16 lg:items-center">
        <div class="text-gray-600 sm:text-lg">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-[#131313] text-center lg:text-start">We Are Very Experienced In Cleaning Services</h2>
            <p class="mb-4">NISSI Cleaning services LLC, is a premier cleaning company offering its services domestically and commercially. Our priority is to do the best we can to contribute to safe, secure and ethical spaces across the region, whether within your family home or your offices.</p>
            
            <ServicesFeatures tittle="Cleaning Profesionals" text="We are always on time and very flexible to your Cleaning needs."/>
            <ServicesFeatures tittle="Trusted Profesionals" text="We care about you and your needs and we make sure to provide high quality of work."/>
            <ServicesFeatures tittle="Customer Service" text="We take care of keeping your space impeccable, fresh and welcoming. Your comfort and peace of mind are our priority."/>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="shadow-xl w-full rounded-lg" src="./bathroom.avif" alt="bathroom_clean_example">
            <img class="shadow-xl mt-4 w-full lg:mt-10 rounded-lg" src="./living-room.avif" alt="office content 2">
        </div>
    </div>
</section>