---
import Logo from "../Logo.astro";
import PhoneNumber from "../PhoneNumber.astro";
import NavBar from "./NavBar.astro";
---


<header class="absolute top-0 z-10 w-full py-4 px-8 lg:px-16 backdrop-filter border-b-2 border-gray-500 backdrop-blur-sm bg-opacity-10">
        <div class="flex justify-between">
                <Logo/>
                <NavBar/>
                <PhoneNumber/>
        </div>
</header>
