---
import Logo from "../Logo.astro";
import PhoneNumber from "../PhoneNumber.astro";
import NavBar from "./NavBar.astro";
---
<header class="absolute top-0 w-full" >
       <div class="border-b border-gray-500 backdrop-filter backdrop-blur-sm bg-opacity-10 text-gray-900 flex flex-row  justify-between px-8 py-4 items-center text-sm z-40">
                <Logo/>
                <NavBar />
                <PhoneNumber/>
        </div>  
</header>