<nav class="hidden">
    <ul class="flex flex-row [&>li>a]:inline-block [&>li>a]:px-4">
        <li><a class="text-gray-900 hover:-translate-y-1 hover:scale-110 duration-300" href="">About</a>
        </li>
        <li><a class="text-gray-900" href="">Services</a>
        </li>
        <li><a class="text-gray-900" href="">Testimonials</a>
        </li>
    </ul>
</nav>