<nav class="">
    <ul class="flex flex-row [&>li>a]:inline-block [&>li>a]:px-2 [&>li>a]:font-medium">
        <li>
            <a class="text-white hover:-translate-y-1 hover:scale-110 duration-300" href="#about">About</a>
        </li>
        <li>
            <a class="text-white hover:-translate-y-1 hover:scale-110 duration-300" href="#services">Services</a>
        </li>
        <li>
            <a class="text-white hover:-translate-y-1 hover:scale-110 duration-300" href="#our-work">Our Work</a>
        </li>
    </ul>
</nav>

