---
import Cards from "../Cards.astro";
import FeaturesCards from "../FeaturesCards.astro";
import HeroButton from "../HeroButton.astro";
import Construction from "../Icons/Construction.astro";
import Home from "../Icons/Home.astro";
import OfficeIcon from "../Icons/OfficeIcon.astro";
import Window from "../Icons/Window.astro";
---

<section id="services" class=" bg-auto bg-center flex flex-col pt-16 pb-16 px-8">

    <!-- Heading -->

    <div class="grid lg:grid-cols-2 justify-center gap-4 lg:flex-row lg:gap-12 lg:py-8">
        <div>
            <h1 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">Always Provide The Best Service</h1>
        </div>

        <div class="flex flex-col gap-4 items-center lg:items-start">
            <div>
                <h2 class="text-medium">We constantly strive to exceed your expectations. Our services are designed to offer you the best in every detail.</h2>
            </div>
            <HeroButton/>   
        </div>
    </div>

    <div class="py-12 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">

        <!-- Home Cleaning -->

        <Cards tittle="Home Cleaning">
            <Home slot="icon"/>
                <FeaturesCards slot="item" paragraph="Bathrooms"/>
                <FeaturesCards slot="item" paragraph="Kitchens"/>
                <FeaturesCards slot="item" paragraph="Bedrooms"/>
                <FeaturesCards slot="item" paragraph="Living Rooms"/>
                <FeaturesCards slot="item" paragraph="Garajes"/>
        </Cards>

        <!-- Office Cleaning -->

        <Cards tittle="Office Cleaning">
            <OfficeIcon slot="icon"/>
                <FeaturesCards slot="item" paragraph="Individual Offices"/>
                <FeaturesCards slot="item" paragraph="Reception And Waiting Areas"/>
                <FeaturesCards slot="item" paragraph="Meeting Rooms"/>
                <FeaturesCards slot="item" paragraph="Common Areas"/>
        </Cards>      

        <!-- Post Construction Cleaning -->

        <Cards tittle="Pos Construction Cleaning">
            <Construction slot="icon"/>
                <FeaturesCards slot="item" paragraph="Waste Dipostal"/>
                <FeaturesCards slot="item" paragraph="Surfaces"/>
                <FeaturesCards slot="item" paragraph="Detailed clean"/>
        </Cards>    

        <!--    Window Cleaning  -->

            <Cards tittle="Window Cleaning">
                <Window slot="icon"/>
                <FeaturesCards slot="item" paragraph="Interior Cleaning"/>
                <FeaturesCards slot="item" paragraph="Exterior Cleaning"/>
            </Cards>

    </div>
    <!-- boxes -->

</section>