---
import Layout from "../layouts/Layout.astro"
import Hero from "../components/Sections/Hero.astro"
import Services from "../components/Sections/Services.astro"
import Features from "../components/Sections/Features.astro"
---

<Layout title="NISSI Cleaning Services LLC">
    <main>
        <Hero/>
        <Services/>
        <Features/>
    </main>
</Layout>