---
import HeroButton from "./HeroButton.astro";
---

<section class="py-16 lg:py-0 bg-cover bg-[#F4F6FB]">
    <div class="px-12 grid lg:grid-cols-2">
        <div class="flex flex-col justify-center gap-8">

            <div class="">
                <h1 class="text-center lg:text-left font-extrabold text-4xl lg:text-5xl">
                    Are You Ready To Work With Us Now?
                </h1>
                <p class="mt-6 font-medium text-base text-center lg:text-left lg:text-lg">
                    Ready for a Sparkling Space? Your Consultation is Absolutely Free!
                </p>
            </div>

            <div class="">
                <HeroButton/>
            </div>
        </div>
            <div class="hidden lg:block">
                <img src="./women-bg.svg" alt="">
            <div>
        </div>
    </div>

</section>