

<footer class="bg-sky-900">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="px-8 flex flex-col lg:flex-row items-center justify-between sm:flex sm:items-center sm:justify-between">
            <a href="/" class="pt-4 flex items-center mb-4 sm:mb-0">
                <span class="text-xl font-black whitespace-nowrap dark:text-white">NISSI Cleaning Services LLC.</span>
            </a>
            <ul class="flex flex-row font-medium text-white">
                <li>
                    <a href="#about" class="hover:underline me-4 md:me-6">About</a>
                </li>
                <li>
                    <a href="#services" class="hover:underline me-4 md:me-6">Services</a>
                </li>
                <li>
                    <a href="#our-work" class="hover:underline me-4 md:me-6">Our Work</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
        <span class="block text-sm text-white sm:text-center">© 2024 <a href="/" class="hover:underline">NISSI Cleaning Services LLC</a>. All Rights Reserved.</span>
    </div>
</footer>

