---
import "photoswipe/style.css"
---

<section id="our-work" class="bg-white px-12 py-16">
    <div class="grid lg:grid-cols-2 justify-center text-center lg:text-start gap-2 lg:flex-row lg:gap-12 lg:py-8">
        <div>
            <h1 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">Our Recent Works</h1>
        </div>

        <div class="pb-6 flex flex-col gap-4 items-center lg:items-start">
            <div>
                <h2 class="text-base">We take pride in delivering high-quality solutions that meet our clients' needs.</h2>
            </div>
        </div>
    </div>

    

    <div class="pswp-gallery grid grid-cols-4 mx-auto object-cover" id="gallery">
        {
            Array.from({ length: 9}).map((_, i) => (
                <a 
                href={`/public/gallery/img-1.jpeg`}
                target="_blank"
                data-pswp-width="1875" 
                data-pswp-height="2500" 
                 data-cropped="true"
                >
                <img src={`/gallery/img-1.jpeg`}
                alt="">
                </a>
            ))
        }
    </div>
</section>


<script>
    import PhotoSwipeLightBox from "photoswipe/lightbox"
    const lightbox = new PhotoSwipeLightBox({
      gallery: '#gallery',
      children: 'a',
      pswpModule: () => import('photoswipe')
    });
    lightbox.init();
</script>

