---
import 'photoswipe/style.css';
import Images from '../components/Images.astro';
---

<section id="our-work" class="bg-white px-12 py-16">
    <div class="grid lg:grid-cols-2 justify-center text-center lg:text-start gap-2 lg:flex-row lg:gap-12 lg:py-8">
        <div>
            <h1 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">Our Recent Works</h1>
        </div>

        <div class="pb-6 flex flex-col gap-4 items-center lg:items-start">
            <div>
                <h2 class="text-base">We take pride in delivering high-quality solutions that meet our clients' needs.</h2>
            </div>
        </div>
    </div>

    <!-- Gallery -->

        <div id="my-gallery" class="grid grid-cols-2 lg:grid-cols-5 gap-2 lg:gap-4">
                    <Images height="2500" width="1875" imgName="/gallery/img-1.webp"/>
                    <Images height="1875" width="2500" imgName="/gallery/img-2.webp"/>
                    <Images height="2500" width="1875" imgName="/gallery/img-3.webp"/>
                    <Images height="1875" width="2500" imgName="/gallery/img-4.webp"/>
                    <Images height="2500" width="1875" imgName="/gallery/img-5.webp"/>
                    <Images height="2500" width="1875" imgName="/gallery/img-6.webp"/>
                    <Images height="2500" width="1875" imgName="/gallery/img-7.webp"/>
                    <Images height="2500" width="1875" imgName="/gallery/img-8.webp"/>
                    <Images height="2500" width="1875" imgName="/gallery/img-9.webp"/>
                    <Images height="2500" width="1875" imgName="/gallery/img-11.webp"/>
                    <Images height="2500" width="1875" imgName="/gallery/img-12.webp"/>
                    <Images height="1875" width="2500" imgName="/gallery/img-13.webp"/>
                    <Images height="2500" width="1875" imgName="/gallery/img-15.webp"/>
                    <Images height="2500" width="1875" imgName="/gallery/img-16.webp"/>
                    <Images height="2500" width="1875" imgName="/gallery/img-17.webp"/>
                    <Images height="1875" width="2500" imgName="/gallery/img-18.webp"/>
                    <Images height="2500" width="1875" imgName="/gallery/img-19.webp"/>
                    <Images height="2500" width="1875" imgName="/gallery/img-20.webp"/>
                    <Images height="2500" width="1875" imgName="/gallery/img-21.webp"/>
                    <Images height="1875" width="2500" imgName="/gallery/img-22.webp"/>
                    <Images height="2500" width="1875" imgName="/gallery/img-23.webp"/>
                    <Images height="2500" width="1875" imgName="/gallery/img-24.webp"/>
                    <Images height="2500" width="1875" imgName="/gallery/img-25.webp"/>
                    <Images height="2500" width="1875" imgName="/gallery/img-26.webp"/>
                    <Images height="2500" width="1875" imgName="/gallery/img-27.webp"/>
                    <Images height="1875" width="2500" imgName="/gallery/img-28.webp"/>
                    <Images height="2500" width="1875" imgName="/gallery/img-29.webp"/>
                    <Images height="2500" width="1875" imgName="/gallery/img-30.webp"/>
                    <Images height="2500" width="1875" imgName="/gallery/img-31.webp"/>
                    <Images height="2500" width="1875" imgName="/gallery/img-32.webp"/>
                    <Images height="2500" width="1875" imgName="/gallery/img-33.webp"/>
                    <Images height="2500" width="1875" imgName="/gallery/img-34.webp"/>
                    <Images height="2500" width="1875" imgName="/gallery/img-35.webp"/>
                    <Images height="2500" width="1875" imgName="/gallery/img-36.webp"/>
        </div>

</section>

<script>
    import PhotoSwipeLightbox from 'photoswipe/lightbox';
    const lightbox = new PhotoSwipeLightbox({
    gallery: '#my-gallery',
    children: 'a',
    pswpModule: () => import('photoswipe')
    });
    lightbox.init();
    
</script>
