---
import 'photoswipe/style.css';
---

<section id="our-work" class="bg-white px-12 py-16">
    <div class="grid lg:grid-cols-2 justify-center text-center lg:text-start gap-2 lg:flex-row lg:gap-12 lg:py-8">
        <div>
            <h1 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">Our Recent Works</h1>
        </div>

        <div class="pb-6 flex flex-col gap-4 items-center lg:items-start">
            <div>
                <h2 class="text-base">We take pride in delivering high-quality solutions that meet our clients' needs.</h2>
            </div>
        </div>
    </div>

    <!-- Gallery -->

        <div id="my-gallery" class=" grid grid-cols-4">
            <!-- cropped thumbnail: -->
            <a class="rounded-xl h-[300px] w-[300px] overflow-hidden" href="/gallery/img-1.webp" 
              data-pswp-width="1875" 
              data-pswp-height="2500"
              data-cropped="true"
              target="_blank">
              <img class="hover:-translate-y-1 hover:scale-110 duration-300 h-[100%] w-[100%] object-cover" src="/gallery/img-1.webp" alt="" />
            </a>
        </div>

</section>

<script>
    import PhotoSwipeLightbox from 'photoswipe/lightbox';
    const lightbox = new PhotoSwipeLightbox({
    gallery: '#my-gallery',
    children: 'a',
    pswpModule: () => import('photoswipe')
    });
    lightbox.init();
</script>