---
import Arrow from "./Icons/Arrow.astro";
---

<section class="px-12 py-16">
    <div class="grid lg:grid-cols-2 justify-center text-center lg:text-start gap-4 lg:flex-row lg:gap-12 lg:py-8">
        <div>
            <h1 class="mb-4 text-4xl tracking-tight font-extrabold text-[#131313]">Our Works</h1>
        </div>

        <div class="flex flex-col gap-4 items-center lg:items-start">
            <div>
                <h2 class="text-xl">Here Is Some Of Our Work.</h2>
            </div>
        </div>
    </div>

        <div class="grid lg:grid-cols-4 gap-3 sm:grid-cols-2 md:grid-cols-3 lg:gap-6 rounded-lg [&>img]:rounded-lg">

            <img class="object-cover h-full" src="./kitchen.avif" alt="">
            <img class="object-cover h-full" src="./living-room-2.avif" alt="">
            <img class="object-cover h-full" src="./bedroom-2.avif" alt="">
            <img class="object-cover h-full" src="./bedroom-1.avif" alt="">
            <img class="object-cover h-full" src="./garage.avif" alt="">
            <img class="object-cover h-full" src="./garage.avif" alt="">
            <img class="object-cover h-full" src="./garage.avif" alt="">
            <img class="object-cover h-full" src="./bedroom-1.avif" alt="">

        </div>
</section>

