---
import Arrow from "./Icons/Arrow.astro";
---
 
 
 <div class="md:inline-block py-3 px-6 rounded-xl bg-yellow-300">
    <div class="flex flex-row gap-2 justify-center">
    <a class="text-[#131313] font-medium" href="#">Request a Free Estimate</a>
    <Arrow/>
    </div>
</div>