---
import CommentBox from "./CommentBox.astro";
---


<div class="px-8 py-16 text-slate-900">
  <div class="grid lg:grid-cols-2 gap-4 pb-8">
    <h1 class="text-4xl font-extrabold">We Really Appreciate Your Feedback</h1>
    <p>We will be delighted to know what you think about our work, in what we can improve and to also answer your concerns.</p>
  </div>
  <CommentBox/>
</div>