---
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/800.css";
import "@fontsource/poppins/900.css";
import Header from '../components/Sections/Header.astro';
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <link rel="icon" type="image/png" sizes="16x16" href="/gallery/Icons/favicon_io/favicon-16x16.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header/> 
    <slot/>
  </body>
</html>
</html>

<style>
  html {
    font-family: 'poppins', 'sans-serif';
    scroll-behavior: smooth;
  }

	body {
		background-color: #f5f5f5;
    color-scheme: 'dark', 'light';
	}

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>